ul {
    list-style-type: none;
    padding-left: 0;
}

.main__courses, .main__gallery, .main__news, .main__difference, .main__prices {
    padding: 85px 0;
}

.icon-container {
    position: relative;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 45px;
    &::before, &::after {
        width: 28px;
        content: "";
        display: inline-block;
        height: 1.5px;
        background-color: $melon;
        position: relative;    
        bottom: 13px;
        margin: 0 15px;
    }
}

