/*  Background Colors  */
$white:             #ffffff;
$lightgrey:         #f0f2f7;
$dusty:             #f4f6fa;
$coal:              #222222;
$black:             #111111;
$melon:             #86bc42;
$lightblack:        #444444;
$grey:              #e1e1e1;

/*  Icon Colors  */
$fontawesome:       $melon;
$course-info-icons: #656565;
$latest-news-icons: $coal;
$difference-icons:  $melon;
$facebook:          #3b5999;
$twitter:           #00abee;
$google:            #df2a2a;
$instagram:         #854e42;
$footer-icons:      $melon;

/*  Font Colors  */
$base-color:        $coal;
$inverted-color:    $white;
$link:              $melon;
