article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.wrapper {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto; }

.header__contact .flex-container {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

/*  Background Colors  */
/*  Icon Colors  */
/*  Font Colors  */
body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px; }

.membership-links {
  text-transform: capitalize; }
  .membership-links a {
    font-size: 0.7rem;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #ffffff; }
  .membership-links a:hover {
    text-decoration: underline;
    color: #86bc42; }

.membership-color {
  color: #ffffff;
  font-size: 0.7rem;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  padding: 0 14px; }

.header__menu a {
  font-size: 0.75rem;
  color: #111111;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-decoration: none;
  margin-left: 35px; }
  .header__menu a:hover {
    border-bottom: 2px solid #86bc42;
    color: #86bc42; }

a .fa-shopping-cart {
  color: #86bc42; }
  a .fa-shopping-cart:hover {
    color: #111111;
    border-bottom: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0; }

.course-info h4 {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  font-size: 1.15rem; }

h1 {
  font-weight: 900;
  font-size: 3.4rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  line-height: 4.3rem; }

p {
  line-height: 1.6rem; }

.news-author-info {
  font-size: 0.9rem;
  margin: 0; }

h3 {
  text-align: center;
  font-weight: 400;
  font-size: 1.1rem;
  text-transform: uppercase;
  margin-bottom: 10px; }

h2 {
  text-align: center;
  font-weight: 700;
  font-size: 2.2rem;
  text-transform: uppercase;
  margin-bottom: 20px; }

.menu__course-type a {
  color: #111111;
  text-decoration: none; }

h4 {
  margin-bottom: 22px; }

.price-details {
  background-color: #ffffff;
  margin: 10px; }

h6 a {
  color: #444444;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  margin: 15px 0; }

.price-box h4 {
  text-transform: uppercase;
  font-size: 1.45rem;
  margin-bottom: 5px;
  font-weight: 700; }

h4.news-header {
  margin: 40px 0 10px 0;
  font-size: 1.4rem; }

h5.instructor {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 1rem; }

p.view-profile {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  color: #86bc42; }
  p.view-profile a {
    text-transform: uppercase;
    color: #86bc42;
    text-decoration: none;
    font-size: 0.85rem; }
  p.view-profile a:hover {
    color: #111111; }

.course-info-footer ul {
  margin: 0; }

.course-info-footer li {
  float: left;
  margin-right: 10px; }

.course-info-footer .fa {
  color: #222222; }

.course-info-footer a .fa:hover {
  color: #86bc42; }

.free {
  color: #86bc42;
  text-transform: capitalize;
  font-weight: 500; }

.courses h4, footer .contact h4, .newsletters h4 {
  text-transform: uppercase;
  font-size: 1.5rem;
  padding-bottom: 15px; }

ul {
  list-style-type: none;
  padding-left: 0; }

.main__courses, .main__gallery, .main__news, .main__difference, .main__prices {
  padding: 85px 0; }

.icon-container {
  position: relative;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 45px; }
  .icon-container::before, .icon-container::after {
    width: 28px;
    content: "";
    display: inline-block;
    height: 1.5px;
    background-color: #86bc42;
    position: relative;
    bottom: 13px;
    margin: 0 15px; }

.header__splash {
  background-image: url("../images/header-background.png");
  z-index: 1;
  position: relative;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat; }
  .header__splash .wrapper {
    padding: 15% 0;
    text-align: center; }
  .header__splash p {
    padding-top: 1%;
    width: 75%;
    margin: 0 auto; }

.header__contact {
  background-color: #111111; }
  .header__contact .fa {
    color: #86bc42;
    float: left;
    font-size: 0.8rem; }
    .header__contact .fa p {
      font-size: 0.7rem;
      font-weight: 400;
      font-family: 'Montserrat', sans-serif;
      display: inline-block;
      margin-left: 8px;
      margin-right: 40px; }
      .header__contact .fa p a {
        color: #ffffff;
        text-decoration: none; }
      .header__contact .fa p a:hover {
        text-decoration: underline;
        color: #86bc42; }

address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left; }
  address ul {
    margin: 0;
    padding: 0; }

.membership-links {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 25%;
  flex: 0 1 25%;
  text-align: right; }

.logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 25%;
  flex: 0 1 25%;
  text-align: center; }
  .logo img {
    margin: 14px 0; }

.header__menu {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 1, 0.35);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 1, 0.35);
  z-index: 100;
  position: relative;
  background-color: #ffffff; }
  .header__menu .menu__aside {
    padding-left: 22px; }
  .header__menu li {
    list-style-position: inside;
    float: left; }
  .header__menu li:first-of-type a {
    margin-left: 0; }
  .header__menu a {
    margin-left: 30px; }
  .header__menu .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .header__menu .menu {
    padding-left: 0;
    padding-right: 28px; }

.header__splash p {
  padding-bottom: 35px; }

.learning-link a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  background-color: #86bc42;
  padding: 10px 32px;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .learning-link a:hover {
    background-color: #111111;
    color: #86bc42; }

.main__courses {
  background-color: #ffffff; }

.main__gallery {
  background-color: #f4f6fa; }

.main__news {
  background-color: #ffffff; }

.main__difference {
  background-color: #f4f6fa; }

.menu__course-type {
  text-align: center;
  display: block;
  margin-bottom: 40px; }

.menu__course-type ul {
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .menu__course-type ul li {
    float: left;
    padding-right: 30px;
    text-transform: capitalize;
    font-size: 0.9rem;
    font-weight: 300; }
  .menu__course-type ul li:last-of-type {
    padding-right: 0; }
  .menu__course-type ul li:first-child a, .menu__course-type ul li a:hover {
    color: #86bc42; }

.difference-box {
  position: relative; }

.course-boxes, .gallery-boxes, .difference-box, .price-flex, .flex-container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.price-flex {
  margin-top: 70px; }

.difference-block {
  width: calc((100% / 3) - 24px);
  position: relative; }

.difference-details {
  position: absolute;
  top: 45px;
  left: 40px; }
  .difference-details img {
    float: left;
    padding-right: 15px; }
  .difference-details p {
    padding-left: 46px;
    font-size: 0.9rem; }
  .difference-details h4 {
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: capitalize;
    padding-top: 3px; }

.difference-circle {
  width: 210px;
  height: 210px;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 0;
  margin: 0; }

.price-box {
  width: calc((100% / 3) - 20px); }

.single-image-box {
  width: calc((100% / 3) - 12px);
  margin-bottom: 13px; }

.single-course-box {
  width: calc((100% / 4) - 15px);
  margin-bottom: 20px;
  border: 1px solid #e1e1e1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.single-course-img img, .single-image-box img {
  width: 100%; }

.free {
  float: right; }

.course-info {
  padding: 19px;
  border-bottom: 1px solid #e1e1e1; }

.avatar {
  float: left;
  margin-right: 10px; }

.course-info-footer {
  padding: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .course-info-footer ul {
    padding: 0 0; }

.news-block {
  background-color: #f4f6fa;
  padding: 0 20px;
  position: relative;
  margin: 60px 0; }

.news-block:first-of-type {
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 1, 0.2);
  box-shadow: 0 0 10px 0 rgba(0, 0, 1, 0.2); }

.news-image {
  position: relative;
  top: -25px;
  width: 48.5%;
  float: left; }

.news-image img {
  width: 100%; }

.news-details {
  float: right;
  width: 47%;
  float: right; }
  .news-details a {
    color: #444444; }
  .news-details a:hover {
    color: #86bc42; }
  .news-details p:last-of-type {
    margin: 40px 0 61px 0; }
  .news-details ul {
    margin: 0;
    padding: 0; }
    .news-details ul li {
      float: left;
      padding-right: 10px; }

a.link-button {
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  background-color: #86bc42;
  padding: 10px 32px;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  bottom: 30px; }
  a.link-button:hover {
    background-color: #111111;
    color: #86bc42; }

.price-box {
  padding-top: 90px;
  position: relative;
  background: #f0f2f7;
  text-align: center; }
  .price-box h5 {
    font-weight: 500;
    font-size: 0.9rem; }
  .price-box h6 {
    padding: 30px 0; }
  .price-box h6 a:hover {
    color: #86bc42; }
  .price-box:nth-of-type(2) {
    background-color: #86bc42;
    color: #ffffff; }
    .price-box:nth-of-type(2) h6 a {
      color: #ffffff; }
    .price-box:nth-of-type(2) h6 a:hover {
      color: #111111; }
    .price-box:nth-of-type(2) .price-circle {
      background-color: #86bc42;
      color: #ffffff;
      -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 1, 0.25);
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 1, 0.25); }
      .price-box:nth-of-type(2) .price-circle:hover {
        background-color: #111111;
        color: #ffffff; }

.price-circle {
  padding: 5px;
  border-radius: 50%;
  border: 10px solid #ffffff;
  background-color: #f0f2f7;
  width: 120px;
  height: 120px;
  top: -60px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }
  .price-circle p {
    position: absolute;
    top: -10%;
    width: 80%;
    font-size: 2.2rem;
    font-weight: 700; }
  .price-circle p:before {
    content: "$";
    vertical-align: super;
    font-size: 1rem; }
  .price-circle:hover {
    background-color: #111111;
    color: #ffffff; }

.menu__mobile {
  display: none; }

.price-details {
  margin-top: 35px;
  padding: 10px; }
  .price-details li {
    text-transform: capitalize;
    font-weight: 300;
    color: #444444;
    padding: 1rem 0; }

.footer__widgets {
  background-color: #222222; }

.footer__nav {
  background-color: #111111; }

.about, .newsletters {
  width: 32%; }

.courses, .contact {
  width: 18%; }

.footer__widgets {
  padding-bottom: 60px; }
  .footer__widgets .flex-container {
    padding-top: 70px;
    color: #ffffff;
    font-size: 0.85rem; }

.about {
  padding-right: 120px; }
  .about p {
    line-height: 1.3rem;
    margin-bottom: 1.5rem; }

.footer__nav ul {
  margin-top: 0; }

.type-green {
  color: #86bc42; }

.about li {
  margin-bottom: 0.8rem; }
  .about li:before {
    /* snippet modified from https://stackoverflow.com/questions/12468359/using-font-awesome-icon-for-bullet-points-with-a-single-list-item-element */
    font-family: 'FontAwesome';
    content: '\f00c';
    margin: 0 5px 0 0px;
    padding-right: 5px;
    color: #86bc42; }

footer .courses li {
  margin-bottom: 1.1rem;
  text-transform: capitalize; }
  footer .courses li:first-of-type:before {
    display: inline-block;
    font-family: 'FontAwesome';
    content: '\f054';
    margin: 0 5px 0 0px;
    padding-right: 5px;
    color: #86bc42; }
  footer .courses li:first-of-type {
    padding-top: 6px; }
  footer .courses li a {
    color: #ffffff;
    text-decoration: none; }
  footer .courses li a:hover {
    color: #86bc42; }

footer .contact {
  margin-bottom: 0.8rem; }

.newsletters {
  padding: 0 60px; }
  .newsletters input[type="text"] {
    color: #444444;
    width: 70%;
    border-radius: 4px;
    border: 0;
    padding: 8px 20px; }

button[type="submit"] {
  background: #86bc42;
  color: #ffffff;
  border: 0;
  margin: 0 auto;
  padding: 9px 17px; }
  button[type="submit"]:hover {
    color: #86bc42;
    background: #ffffff; }

form ~ p {
  margin: 20px 0; }

.indent-address {
  display: block;
  overflow: hidden; }

footer .contact-details {
  padding-right: 60px; }
  footer .contact-details li {
    margin-bottom: 6px; }
  footer .contact-details p {
    display: inline-block;
    margin: 0; }
  footer .contact-details .contact-address p {
    padding-bottom: 0;
    margin-left: 10px; }
  footer .contact-details .contact-address:before {
    font-family: 'FontAwesome';
    content: '\f041';
    padding-right: 5px;
    color: #86bc42;
    float: left;
    margin-top: 5px; }
  footer .contact-details .contact-phone p, footer .contact-details .contact-email p {
    margin-left: 5px; }
  footer .contact-details .contact-phone a, footer .contact-details .contact-email a {
    color: #ffffff;
    text-decoration: none; }
  footer .contact-details .contact-phone a:hover, footer .contact-details .contact-email a:hover {
    color: #86bc42; }
  footer .contact-details .contact-phone:before, footer .contact-details .contact-email:before {
    font-family: 'FontAwesome';
    content: '\f098';
    padding-right: 5px;
    color: #86bc42; }
  footer .contact-details .contact-email:before {
    font-family: 'FontAwesome';
    content: '\f0e0';
    padding-right: 5px;
    color: #86bc42; }

.fa-map-marker {
  float: left; }

.about > img {
  padding-bottom: 14px; }

.social a {
  margin-right: 15px;
  font-size: 1.5rem; }

.social a[href="http://www.facebook.com/#"] {
  color: #3b5999; }

.social a[href="http://www.twitter.com/#"] {
  color: #00abee; }

.social a[href="http://www.google.com/#"] {
  color: #df2a2a; }

.social a[href="http://www.instagram.com/#"] {
  color: #854e42; }

.social a:hover {
  color: #86bc42; }

.footer__nav {
  font-size: 0.7rem;
  color: #ffffff; }
  .footer__nav ul {
    width: 50%;
    padding: 20px 0;
    margin-top: 0; }
  .footer__nav li {
    float: left;
    padding-right: 20px; }
  .footer__nav a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase; }
  .footer__nav a:hover {
    color: #86bc42; }

.copyright {
  padding: 20px 0;
  text-align: right;
  margin-top: 0;
  clear: both; }
  .copyright p {
    margin: 0;
    padding: 0; }
  .copyright .copyright-color {
    color: #86bc42; }

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  h4.news-header {
    font-size: 1.1rem;
    margin-top: 22px; }
  .news-details p {
    line-height: 1.4rem; }
  .wrapper {
    width: 95%; }
  .price-details li {
    padding: 0.8rem 0; }
  .price-box h6 {
    padding: 10px 0 20px 0; }
  .about {
    padding-right: 60px; }
  footer .contact-details {
    padding-right: 10px; }
  .newsletters {
    padding-right: 0; }
  .social .fa {
    font-size: 2.5rem; }
  .menu__course-type ul li {
    font-size: 1.5rem; }
  .logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto; }
  .header__contact .fa p {
    margin-right: 28px;
    font-size: 0.8rem; }
  .price-details ul {
    min-height: 380px; } }

@media (max-width: 883px) {
  footer .contact h4 {
    padding-bottom: 10px;
    margin-bottom: 0; }
  .contact-details {
    margin-top: 0; }
  .contact-phone, .contact-email {
    font-size: 0.7rem; } }

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .header__splash h1 + p {
    background-color: #f0f2f7;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
    opacity: 0.7;
    font-weight: 700; }
  .single-course-box {
    width: calc((100% / 2) - 11px); }
  .single-image-box {
    width: calc((100% / 2) - 9px); }
  .news-image {
    width: 100%; }
  .news-details {
    width: 100%; }
  a.link-button {
    bottom: 20px;
    right: 30px; }
  .news-block {
    margin: 60px 0; }
  .difference-block {
    width: calc((100%) - 24px);
    margin: 15px 0; }
  .difference-details p {
    font-size: 1.1rem; }
  .difference-details h4 {
    font-size: 2rem; }
  .price-box {
    width: 100%;
    margin-bottom: 100px; }
    .price-box:last-of-type {
      margin-bottom: 0; }
    .price-box h4 {
      font-size: 2rem; }
    .price-box h6 a {
      font-size: 2rem; }
  .price-circle p {
    font-size: 2.5rem; }
  .price-details li {
    font-size: 2rem; }
  .social .fa {
    font-size: 3rem;
    margin-bottom: 10px; }
  .newsletters input[type="text"] {
    width: 80%;
    margin-bottom: 12px; }
  .about {
    padding-left: 10px;
    width: 60%;
    font-size: 1.1rem; }
    .about p {
      width: 85%; }
  .courses {
    width: 40%;
    font-size: 1.1rem; }
  .contact {
    padding-left: 10px;
    margin-top: 40px;
    width: 40%;
    font-size: 1.1rem; }
  .newsletters {
    margin-top: 40px;
    width: 60%; }
    .newsletters p {
      font-size: 1.3rem; }
  .indent-address {
    width: 80%; } }

/* header fixes */
@media (max-width: 623px) {
  address {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .logo {
    width: 50%; }
  .membership-links {
    width: 50%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    text-align: center;
    margin: 7px 0; }
    .membership-links a, .membership-links span {
      font-size: 1.3rem; } }

@media (max-width: 623px) {
  footer .contact h4 {
    padding-bottom: 38px; }
  .header__menu .menu {
    display: none; }
    .header__menu .menu li {
      text-align: center;
      width: calc(100% / 3);
      padding-bottom: 10px; }
      .header__menu .menu li:last-of-type {
        text-align: center;
        width: 100%; }
      .header__menu .menu li a {
        font-size: 1.5rem;
        margin: 0; }
  .single-course-box {
    width: 100%; }
  .single-image-box {
    width: 100%; }
  .header__menu .menu__aside {
    padding-left: 0;
    margin-top: 0; }
    .header__menu .menu__aside li a {
      padding-left: 0;
      font-size: 1.5rem; }
  .menu__course-type {
    display: none; }
  .menu__mobile {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    font-size: 1.3rem;
    border: 2px solid #86bc42;
    padding: 5px;
    color: #86bc42; }
  .header__menu .menu__mobile {
    margin-top: 30px; } }

/* Landscape phones and down */
@media (max-width: 480px) {
  .social .fa {
    font-size: 5rem; }
  address {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; } }

/* make the partial
save the partial
delete the partial
import
save style.scss
*/
